lab3b/a.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="bib">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="title" />
                            <xs:element name="author" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="last" />
                                        <xs:element type="xs:string" name="first" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="editor" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="last" />
                                        <xs:element type="xs:string" name="first" />
                                        <xs:element type="xs:string" name="affiliation" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="publisher" />
                            <xs:element type="xs:float" name="price" />
                        </xs:sequence>
                        <xs:attribute type="xs:short" name="year" use="optional" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>